<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Run-on Fixer</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript">
    </script>

    <div class="container">
      <fieldset>
        <form action="/" method="post">
            <div class="grammar-input-line">
                <img id="shuffle" src="pic/shuffle.png"/>
                <input id="input" name="sentence" type="text" class="grammar-input" placeholder="Enter a run-on sentence" required/>
            </div>
            <input type="submit" class="grammar-button" value="Segment"/>
        </form>

        <% if(segments !== null){ %>
          <div class="grammar-results">
              <h5>Segments:</h5>
              <% for (i = 0; i < segments.length; i++) { %>
              <p><%= segments[i] %></p>
              <%}%>
              <h5>Report:</h5>
              <table>
                <tr>
                  <th><b>Precision:</b></th>
                  <th><b>Recall:</b></th>
                  <th><b>F1 score:</b></th>
                </tr>
                <tr>
                  <td>0.81</td>
                  <td>0.53</td>
                  <td>0.5</td>
                </tr>
              </table>
              <center><h5>This work is still in progress. Thanks for checking it out!</h5></center>
          </div>
      <% } %>

      </fieldset>
    </div>
  </body>
</html>
